<section class="w-full py-8 bg-emerald-800">
  <div
    class="w-3/4 mx-auto p-8 bg-emerald-600 rounded-lg text-center shadow-black"
  >
    <h2 class="text-3xl font-bold text-white mb-4">
      Acorta tus extensos links aquí
    </h2>
    <p class="text-white opacity-75 mb-4">
      Inserta el enlace en el campo para acortarlo
    </p>
    <form
      (ngSubmit)="createShortLink()"
      class="mb-4 flex flex-col sm:flex-row gap-1 mx-auto items-center justify-center"
    >
      <input
        type="text"
        placeholder="Inserta el enlace aquí"
        class="sm:w-2/3 w-full p-2 border rounded"
        [(ngModel)]="originalLink"
        name="linkInput"
      />

      @if (isLoading) {

      <button
      class=" text-emerald-800 py-2 px-4 rounded-md bg-gray-300"
      disabled
      >
        Acortar
      </button>

      <div class="my-4">
        <div class="loader"></div>
      </div>
      } @else {
      <button
        type="submit"
        class="bg-white text-emerald-800 py-2 px-4 rounded-md hover:bg-gray-300"
      >
        Acortar
      </button>
      }
    </form>
  </div>
</section>
