<section class="w-full flex flex-col items-center gap-4 bg-emerald-800 justify-center py-16">
  <!-- Demo Card Section -->
  <div class="w-3/4 mx-auto flex flex-col items-center justify-center bg-emerald-600 rounded-lg p-4 shadow-md">
    <h2 class="text-white text-xl font-bold mb-2">Diagrama de ejemplo</h2>
    <p class="text-white opacity-75">
      Esta es una demostración de como funciona la aplicación.
    </p>
    <img
      src="assets/imgs/demo-image.png"
      alt="Demo Image"
      class="w-full h-auto rounded-md mb-4"
    />
  </div>

  <div class="w-3/4">


    <app-roadmap></app-roadmap>
  </div>

  </section>
