<div
  class="w-full flex flex-col items-center justify-center mx-auto mt-2 p-2 sm:mt-4 sm:p-4 bg-emerald-600 rounded-lg shadow-md text-center"
>
  <!-- Step 1 -->
  <div class="flex flex-col my-4 items-center mb-4 w-full sm:flex-row sm:w-2/3">
    <div class="flex flex-row gap-2 justify-center items-center">
      <div class="bg-emerald-800 rounded-lg p-2">
        <span class="text-white">1</span>
      </div>
      <p class="text-gray-200">Rellena el input:</p>
    </div>
    <div
      class="flex flex-col sm:flex-row items-center justify-center gap-4 ml-2 mt-2 sm:mt-0"
    >
      <input
        type="text"
        placeholder="https://enlacesuperlargo.com"
        class="mt-2 p-2 border rounded w-full sm:w-64"
      />
    </div>
  </div>

  <!-- Step 2 -->
  <div class="flex flex-col my-4 items-center mb-4 w-full sm:flex-row sm:w-2/3">
    <div class="flex flex-row gap-2 justify-center items-center">
      <div class="bg-emerald-800 rounded-lg p-2">
        <span class="text-white">2</span>
      </div>
      <p class="text-gray-200">Haz clic en "Acortar":</p>
    </div>
    <div
      class="flex flex-col sm:flex-row items-center justify-center gap-4 ml-2 mt-2 sm:mt-0"
    >
      <button class="bg-emerald-800 text-white py-2 px-4 rounded-md mt-2">
        Acortar
      </button>
    </div>
  </div>

  <!-- Step 3 -->
  <div class="flex flex-col my-4 items-center mb-4 w-full sm:flex-row sm:w-2/3">
    <div class="flex flex-row gap-2 justify-center items-center">
      <div class="bg-emerald-800 rounded-lg p-2">
        <span class="text-white">3</span>
      </div>
      <p class="text-gray-200">Procesamiento en el servidor:</p>
    </div>
    <div
      class="flex flex-col sm:flex-row items-center justify-center gap-4 ml-2 mt-2 sm:mt-0"
    >
      <!-- Indicador de carga personalizado -->
      <div class="spinner"></div>
    </div>
  </div>

  <!-- Step 4 -->
  <div class="flex flex-col my-4 items-center mb-4 w-full sm:flex-row sm:w-2/3">
    <div class="flex flex-row gap-2 justify-center items-center">
      <div class="bg-emerald-800 rounded-lg p-2">
        <span class="text-white">4</span>
      </div>
      <p class="text-gray-200">Recibe un enlace acortado</p>
    </div>
    <div
      class="flex flex-col sm:flex-row items-center justify-center gap-4 ml-2 mt-2 sm:mt-0"
    >
      <input
        type="text"
        placeholder="https://enlaceacortado"
        class="mt-2 p-2 border rounded w-full sm:w-64"
      />
      <p></p>
    </div>
  </div>
</div>
